{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html>
    <head>
        <title>Event List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
	
        <script type="text/javascript" src="{% static "thirdparty/jquery/dist/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "thirdparty/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "thirdparty/bootbox/bootbox.min.js" %}"></script>
        <script type="text/javascript" src="{% static "thirdparty/bootstrap-select/dist/js/bootstrap-select.min.js" %}"></script>
		
        <link rel="stylesheet" type="text/css" href="{% static "thirdparty/bootstrap/dist/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "thirdparty/bootstrap-select/dist/css/bootstrap-select.min.css" %}"/>
        
        {% stylesheet 'admin_common' %}
        {% javascript 'admin_common' %}

        {% block head %}{% endblock %}
    </head>
    <body>
		{% if not noheader %}
        <header id="top" class="navbar navbar-static-top bs-docs-nav" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Timeline</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse pull-left">
                    <ul class="nav navbar-nav">
                        <li {% if nav == "events" %}class="active"{% endif %}>
                            <a href="/admin/event/?{{ urlparams }}">Events</a>
                        </li>
                        <li {% if nav == "tags" %}class="active"{% endif %}>
                            <a href="/admin/tag/?{{ urlparams }}">Tags</a>
                        </li>
                    </ul>
                </nav>
				
                <nav class="collapse navbar-collapse bs-navbar-collapse pull-right">
                    <ul class="nav navbar-nav">
						{% if user.is_authenticated %}
                        <li>
                            <a href="#usermenu" id="userMenuButton" class="dropdown-toggle" data-toggle="dropdown">{{ user }}</a>
							<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="userMenuButton">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/admin/password/change/?{{ urlparams }}">Change password</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/admin/logout/?{{ urlparams }}">Log out</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="/admin/signout/?{{ urlparams }}">Delete account</a></li>
							</ul>
                        </li>
						{% endif %}
                    </ul>
                </nav>
				
            </div>
        </header>
	{% endif %}
        
        <div class="container">
			
			{% if errors %}
				<ul class="errorlist col-xs-12">
				{% for error in errors %}
					<li>{{ error }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		
            {% block content %}{% endblock %}
       </div>
    </body>
</html>
