{% extends "list.html" %}

{% block content %}
    
    <div class="form-group form-horizontal">
        <form method="get" action="/admin/tag/" class="">
            <div class="form-group col-sm-2">
                <select name="l" class="form-control selectpicker autosubmit">
                    <option value="">Any language</option>
                    {% for lang in languages %}
                        <option value="{{lang.code}}" {% if lang.code == language %}selected{% endif %}>{{lang.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="q" value="{{ query }}"/>
            {% include "extrafields.html" with fields=formparams %}
        </form>
        <form method="get" action="/admin/event/" class="">
            <div class="form-group">
                <div class="col-sm-1">
                    <label class="control-label">Search:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="q" class="form-control" {% if query %}value="{{ query }}"{% endif %}/>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default">Search</button>
                </div>
            </div>
            <input type="hidden" name="l" value="{{ language|default:"" }}"/>
            {% include "extrafields.html" with fields=formparams %}
        </form>
    </div>    
    
    <div class="pull-left actions">
        {% if "Timeline_data.add_tagbase" in permissions and "Timeline_data.add_tagversion" in permissions %}
        <a class="btn btn-default" href="/admin/tag/create">Create new</a>
        {% endif %}
    </div>
    <div class="pull-right actions">
        <a class="btn btn-default" href="{% if pagination.first %}/admin/tag/?p={{ pagination.first }}&{{ urlparams }}{% endif %}">&lt;&lt;</a>
        <a class="btn btn-default" href="{% if pagination.prev %}/admin/tag/?p={{ pagination.prev }}&{{ urlparams }}{% endif %}">&lt;</a>
        {{ pagination.current }}
        <a class="btn btn-default" href="{% if pagination.next %}/admin/tag/?p={{ pagination.next }}&{{ urlparams }}{% endif %}">&gt;</a>
        <a class="btn btn-default" href="{% if pagination.last %}/admin/tag/?p={{ pagination.last }}&{{ urlparams }}{% endif %}">&gt;&gt;</a>
    </div>
    <table class="table">
        <tr>
            <th>Language</th>
            <th>Key</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {% for tag in tags %}
        <tr {% if not tag.enabled %}class="text-muted"{% endif %}>
            <td>{{ tag.language.name }}</td>
            <td>{{ tag.key }}</td>
            <td>{{ tag.title }}</td>
            <td>
                {% if "Timeline_data.change_tagbase" in permissions or "Timeline_data.add_tagversion" in permissions %}
                <a class="btn btn-default" href="/admin/tag/{{tag.id}}?{{ urlparams }}">Edit</a>
                {% endif %}
                <form action="/admin/tag/{{tag.id}}?{{ urlparams }}" method="post" style="display:inline-block">
                    {% csrf_token %}
                    <input type="hidden" name="redirect" value="{{request.get_full_path}}"/>
                    {% if "Timeline_data.change_tagbase" in permissions %}
                    <button class="btn btn-default" name="enabled" value="1">{% if tag.enabled %}Disable{% else %}Enable{% endif %}</button>
                    {% endif %}
                    {% if "Timeline_data.delete_tagbase" in permissions %}
                    <button type="submit" name="deleteTag" class="btn btn-default with-confirm" data-dialog-text="Are you sure you want to delete?">Delete</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}
