.Timeline {
	height: 100%;
}

#canvas {
	z-index: 1;
}

#canvashover {
	position: absolute;
	display: none;
	border: 1px solid #000;
	font-family: Helvetica,sans-serif;
	background: #ffd;
	font-size: 10pt;
	min-width: 100px;
	z-index: 2;
}