{% load staticfiles %}
{% load pipeline %}

<html>
<head>

	<script src="{% static "3rdparty/jquery-2.1.3/jquery.min.js" %}"></script>
	<script src="{% static "3rdparty/jquery-mousewheel/jquery.mousewheel.js" %}"></script>

	<link rel="stylesheet" href="{% static "3rdparty/jquery-ui/jquery-ui.css" %}"></link>
	<script src="{% static "3rdparty/jquery-ui/jquery-ui.min.js" %}"></script>

	{% javascript 'webclient' %}
	{% stylesheet 'webclient' %}
	
	{% autoescape off %}
	<script type="text/javascript">
		var language = {{ language }};
	</script>
	{% endautoescape %}

</head>

<body style="margin:0;overflow:hidden">

	<script>
		(function(){
			window.ui = new UI({addToBody:true});
			ui.addTimeline();
		})();

		(function(){
			window.events = {};
		})();
	</script>
</body>
</html>
